<div class='text-center'>
  <%= link_to '登録ページへ', new_user_path %>
</div>
<%= form_with url: logout_path, local: true do |f| %>
  <div class="actions">
    <%= f.submit "ログアウト", class: "btn btn-outline-secondary" %>
  </div>
<% end %>
